mixin section(props)
	-
		props = Object.assign({
			container: true,
		}, props || {},)

	section.section&attributes(attributes)
		if props.container
			.container: block
		else
			block

mixin b-block(props)
	-
		props = Object.assign({
			container: true,
		}, props || {})

	.block&attributes(attributes)
		if props.container
			.container: block
		else
			block

mixin sectionBlock(props)
	-
		props = Object.assign({
			container: true,
		}, props || {})

	.section&attributes(attributes)
		if props.container
			.container: block
		else
			block