@use 'styles/utils';

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 2.6px;
        height: 26px;
        background-color: #909090;
        border-radius: 4px;
        @include utils.transition(background-color);
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }

    &:hover {
        &::before,
        &::after {
            background-color: var(--green-light_color);
        }
    }
}

.close-btn_bg {
    @extend .close-btn;
    box-shadow:
        0 0 10px rgba(0, 0, 0, 0.08),
        0 10px 20px rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    border-radius: 50%;

    &::before,
    &::after {
        width: 2px;
        height: 20px;
    }
}

@media only screen and (max-width: 450px) {
    .close-btn {
        width: 35px;
        height: 35px;

        &::after,
        &::before {
            height: 20px;
        }
    }
}
