@use 'general/_normalize.css';
@use 'general/reset';
@use 'general/variables';
@use 'general/fonts';
@use 'general/global';

// Popup
@use 'features/popup/popup';

// Ui
@use 'ui/buttons/close-btn';

// Page
@use 'layout/header/header';
@use 'layout/footer/footer';
