mixin section(props)
	-
		props = Object.assign(props || {}, {
			container: true,
		})

	section.section&attributes(attributes)
		if props.container
			.container: block
		else
			block

mixin b-block(props)
	-
		props = Object.assign(props || {}, {
			container: true,
		})

	.block&attributes(attributes)
		if props.container
			.container: block
		else
			block

mixin sectionBlock(props)
	-
		props = Object.assign(props || {}, {
			container: true,
		})

	.section&attributes(attributes)
		if props.container
			.container: block
		else
			block