$desktop1650: 1600px;
$desktop1460: 1400px;
$desktop1360: 1366px;
$desktop1260: 1280px;
$tablet1200: 1200px;
$tablet1100: 1000px;
$tablet800: 800px;
$mobile600: 600px;
$mobile450: 450px;
$mobile380: 380px;
$mobile340: 340px;