@use 'media' as *;

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin clear-list {
  @include reset-list;
  li {
    padding-left: 0;
    text-indent: initial;
    color: var(--body_font);

    &::before {
      display: none;
    }
  }
  li + li {
    margin-top: 0;
  }
}

@mixin transition($property, $duration: .3s, $timing: ease-in-out) {
  transition-property: $property;
  transition-timing-function: $timing;
  transition-duration: $duration;
}

@mixin circle($diameter) {
  --diameter: #{$diameter};
  width: var(--diameter);
  height: var(--diameter);
  border-radius: 50%;
}