include layout/utils

mixin popup(name, className)
    .popup(class=className, data-popup=name)&attributes(attributes)
        - var bodyClass = className ? ` ${className}__inner` : ''
        div(class=`popup__inner` + bodyClass)
            +btn('close-popup').close-btn
            block
