extends layout/page

append head
    link(href=require('styles/pages/index/index.style.scss') rel="stylesheet")

append main
    section.section

append scripts
    script(src=require('js/pages/index/index.main.ts'))