doctype html
html(lang='ru')
    head
        block head
            title #{ title }
            meta(name='viewport', content='width=device-width, initial-scale=1.0')
            meta(charset='UTF-8')

            link(href=require('styles/styles.scss'), rel='stylesheet')
    body
        include header/header

        .main-wrapper
            main.main
                block main

            include footer/footer

        block scripts
            script(src=require('scripts/main.ts'), type='module')
