doctype html
html(lang='ru')
    head
        block head
            title #{title}
            meta(name="viewport" content="width=device-width, initial-scale=1.0")
            meta(charset="UTF-8")

            link(href=require('src/styles/styles.css') rel="stylesheet")
    body
        include general/header
        include popups/popup

        div.main-wrapper
            main.main
                block main

            include general/footer

        block scripts
            script(src=require('js/main.ts') type="module")