html {
  overflow-x: clip;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1230px;
}

.main-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.main {
  flex: 1 1 0;
}

.hidden {
  display: none;
}

body {
  overflow-x: clip;
}

html.disable-scroll {
  overflow: clip;

  body {
    overflow: clip;
  }
}

.swiper,
.swiper-wrapper,
.swiper-slide {
  box-sizing: border-box !important;
}

@media only screen and (max-width: 750px) {
  .disable-scroll {
    body {
      padding-right: 0;
    }
  }
}